@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: KOTRAHOPE;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: pink;
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20vh;
    border-radius: 10px;
    background-color: white;
    width: 700px;
    height: 200px;
}
.Container > h1{
    font-size: 40px;
}
.btn{
    color: hotpink;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 7px;

    cursor: pointer;

    float:left;
    box-shadow: 3px 3px 3px hotpink;
    transition-duration: 0.5s;
}
.btn:active{
    box-shadow: none;
    color: pink;
}
