.btn{
    border:none;
    background-color: white;
    color: plum;
    font-size: 18px;
    border-radius: 12px;
    padding-left: 8px; padding-right: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.btn:active{
    color: white;
    background-color: violet;
}